<!--Provide a logout button on the landing page to log users out and destroy their session. -->
<!--Redirect users here after login.-->
<!--For users, display a simple dashboard with their username. -->
<!--For admins, display all registered users with their email and role.-->
<%- include('partials/header', { title: "Landing" }) %>
<h1> <%= landingMessage %> </h1> <!-- Title switches depending on admin or user role-->

<% if (users) { %>
    <h2>All Registered Users:</h2>
    <!--Table to display all of the user/admin in the current session-->
    <table class="tableLooks">
        <thead>
            <tr>
                <th>Username:</th>
                <th>Email:</th>
                <th>Role:</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><strong><%= user.username %></strong></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } else { %> 
    <!--Username is shown in h1-->


    <h2>Welcome to your dashboard!</h2>
        <p>Your personalized space.</p>
<% } %>
    
<!--Button-->
<form action="/logout" method="POST">
    <span class="index-button-container">
        <button type="submit">Logout</button>
    </span>
</form>


<%- include('partials/footer') %>